{% extends "layout.html" %}
{% block body %}
	<!--about section start -->
    <div class="about_section layout_padding">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<div class="tablet"><img src="{{url_for('static',filename ='images/tablet-img.png')}}"></div>
    			</div>
    			<div class="col-md-6">
    				<div class="about_taital">
    					<div class="about_text">About <span style="color: #c6610f;">Us</span></div>
    					<p class="dolor_text">We are a team of experienced professionals dedicated to providing safe and secure electronic voting management systems.
                  Our mission is to ensure fair and transparent elections through advanced technology solutions that are user-friendly,
                  efficient, and reliable.
                  
                  Our slogan, "Safe and Secure Elections," reflects our commitment to maintaining the highest standards of security and
                  privacy for our clients and their voters. We use the latest encryption technologies, multi-factor authentication
                  protocols, and real-time monitoring to safeguard every aspect of the voting process, from voter registration to results
                  reporting.</p>
    					<div class="read_more"><a href="#">Go To Top</a></div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    
	<!--about section end -->

   <!--project section start -->
   <div class="blog_section layout_padding">
      <div class="about_section_2 ">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="classified_text">Project <span style="color: #c6610f;">Details</span></div>
               </div>
            </div>
            <div class="row front">
               <div class="col-md-2">
                  <div class="about_img"><img src="{{url_for('static',filename ='images/frontend.jpg')}}"></div>
               </div>
               <div class="col-md-10">
                  <h1 class="fron_text"> FRONT END DEVELOPMENT </h1>
                  <p class="using_text">The combination of HTML, CSS, Bootstrap, and JavaScript has enabled us to build a
                     website that is visually appealing,
                     user-friendly, and highly functional. These tools and technologies have allowed us to create a website
                     that meets our
                     project's requirements and provides value to our users.</p>
               </div>
            </div>
            <div class="row front">
               <div class="col-md-2">
                  <div class="about_img"><img src="{{url_for('static',filename ='images/back.jpeg')}}"></div>
               </div>
               <div class="col-md-10">
                  <h1 class="fron_text"> BACK END DEVELOPMENT</h1>
                  <p class="using_text">Flask has been instrumental in building the backend of our web application. It has
                     provided us with a simple yet
                     powerful framework that has allowed us to build a highly functional and scalable web application. We
                     are confident that
                     Flask will continue to be a valuable tool as we continue to develop and improve our web application.
                  </p>
               </div>
               <div class="row front">
                  <div class="col-md-2">
                     <div class="about_img"><img src="{{url_for('static',filename ='images/database.jpg')}}"></div>
                  </div>
                  <div class="col-md-10">
                     <h1 class="fron_text"> DATABASES</h1>
                     <p class="using_text">By using both InnoDB and blockchain as our database solutions, we have been
                        able to leverage the benefits of both technologies. InnoDB with sql has provided us with a reliable and
                        scalable relational database management system, while blockchain has given us the ability to store
                        and retrieve data in a secure and transparent way. Our use of these technologies has enabled us to
                        build a database infrastructure that meets our project's requirements and ensures the integrity and
                        security of our data.</p>
                  </div>
                  <div class="row front">
                     <div class="col-md-2">
                        <div class="about_img"><img src="{{url_for('static',filename ='images/hardware.png')}}"></div>
                     </div>
                     <div class="col-md-10">
                        <h1 class="fron_text"> HARDWARE DEVELOPMENT</h1>
                        <p class="using_text">Our use of these hardware components has enabled us to build a system that is
                           both functional and user-friendly. The QR
                           code scanner and fingerprint scanner have provided quick and secure ways of accessing
                           information and authenticating
                           users, while the Arduino board has allowed us to interface with various sensors and actuators,
                           giving us greater control
                           over our system. By leveraging these hardware components, we have been able to create a more
                           robust and dynamic system
                           that meets the needs of our users.</p>
                     </div>
                     <div class="red_bt"><a href="#">Go To Top</a></div>
                  </div>
               </div>
            </div>
         </div>
   <!--project section end -->      

	<!--client section start -->
    <div class="clients_section layout_padding">
    	<div class="container">
    		<div class="row">
    		    <div class="col-sm-12">
    			    <div class="client_text">Key<span style="color: #c6610f;"> Partners</span></div>
    			    <p class="using_text">Key partners play a crucial role in ensuring its success. These partners could be individuals, organizations, or even
               companies who have a vested interest in the project's outcomes. Key partners bring a wealth of knowledge, expertise, and
               resources that can significantly impact the project's success.</p>
    		    </div>
    	    </div>
    	</div>
    </div>
    <div class="clients_section_2 layout_padding">
    	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
   <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
    		<div class="client_img"><img src="{{url_for('static',filename ='images/Dr Ali-modified.png')}}" height="150px" width="150"></div>
    		<h1 class="johan_text">Dr Muhammad Ali</h1>
    		<p class="adiser_text">(Superviser)</p>
    		<p class="long_text">Dr. Muhammad Ali is an Associate Professor with a Ph.D. in computer networking. He teaches several courses related to
         computer science and engineering, including Computer Networks, Introduction to Probability and Statistics, Computer
         Architecture, Circuit Analysis and Design, and Introduction to Cryptology.
         
         His research interests include IPv6 networks, interdomain routing, and SIP signaling. In particular, he is interested in
         studying the quality of service (QoS) of multimedia applications in these networks.</p>
    	</div>
    </div>
    <div class="carousel-item">
      <div class="container">
    		<div class="client_img"><img src="{{url_for('static',filename ='images/Farhan (2).png')}}" height="150px" width="150"></div>
    		<h1 class="johan_text">Muhammad Farhan</h1>
    		<p class="adiser_text">(Group Member)</p>
    		<p class="long_text">Muhammad Farhan is a versatile professional with expertise in various fields of computer science. As a data analyst, he
         is proficient in using Python for data processing, analysis, and visualization. He is also skilled in developing
         artificial intelligence solutions and has a strong background in front-end development.</p>
    	</div>
    </div>
    <div class="carousel-item">
      <div class="container">
    		<div class="client_img"><img src="{{url_for('static',filename ='images/farooq.png')}}" height="150px" width="150"></div>
    		<h1 class="johan_text">Muhammad Farooq</h1>
    		<p class="adiser_text">(Group Member)</p>
    		<p class="long_text">Muhammad Farooq is a skilled software developer with expertise in blockchain, Python development, and back-end
         development. As a blockchain developer, he possesses a deep understanding of distributed ledger technology and is
         proficient in using various blockchain platforms and programming languages. His proficiency in Python development makes
         him adept at creating robust and scalable applications, as well as analyzing and solving complex programming problems.
         As a back-end developer, he is skilled in designing and implementing efficient data storage solutions and developing
         APIs that can handle high volumes of data traffic.</p>
    	</div>
    </div>
    <div class="carousel-item">
      <div class="container">
         <div class="client_img"><img src="{{url_for('static',filename ='images/A-modified.png')}}" height="150px" width="150"></div>
         <h1 class="johan_text">Azlan Rao</h1>
         <p class="adiser_text">(Group Member)</p>
         <p class="long_text">Azlan Rao is a skilled Cybersecurity specialist, Linux expert, and back-end developer, with an impressive track record
         in each of these areas. He is dedicated to providing robust solutions that ensure the security and reliability of
         computer systems and networks.
</p>
      </div>
    </div>
    </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    </div>
	<!--client section end -->

   {% endblock %}