{% extends "layout.html" %}
{% block body %}
   <!--project section start -->
   <div class="blog_section layout_padding">
    <div class="about_section_2 ">
       <div class="container">
          <div class="row">
             <div class="col-sm-12">
                <div class="classified_text">Project <span style="color: #c6610f;">Details</span></div>
             </div>
          </div>
          <div class="row front">
             <div class="col-md-2">
                <div class="about_img"><img src="{{url_for('static',filename ='images/frontend.jpg')}}"></div>
             </div>
             <div class="col-md-10">
                <h1 class="fron_text"> FRONT END DEVELOPMENT </h1>
                <p class="using_text">The combination of HTML, CSS, Bootstrap, and JavaScript has enabled us to build a
                   website that is visually appealing,
                   user-friendly, and highly functional. These tools and technologies have allowed us to create a website
                   that meets our
                   project's requirements and provides value to our users.</p>
             </div>
          </div>
          <div class="row front">
             <div class="col-md-2">
                <div class="about_img"><img src="{{url_for('static',filename ='images/back.jpeg')}}"></div>
             </div>
             <div class="col-md-10">
                <h1 class="fron_text"> BACK END DEVELOPMENT</h1>
                <p class="using_text">Flask has been instrumental in building the backend of our web application. It has
                   provided us with a simple yet
                   powerful framework that has allowed us to build a highly functional and scalable web application. We
                   are confident that
                   Flask will continue to be a valuable tool as we continue to develop and improve our web application.
                </p>
             </div>
             <div class="row front">
                <div class="col-md-2">
                   <div class="about_img"><img src="{{url_for('static',filename ='images/database.jpg')}}"></div>
                </div>
                <div class="col-md-10">
                   <h1 class="fron_text"> DATABASES</h1>
                   <p class="using_text">By using both InnoDB and blockchain as our database solutions, we have been
                      able to leverage the benefits of both technologies. InnoDB with sql has provided us with a reliable and
                      scalable relational database management system, while blockchain has given us the ability to store
                      and retrieve data in a secure and transparent way. Our use of these technologies has enabled us to
                      build a database infrastructure that meets our project's requirements and ensures the integrity and
                      security of our data.</p>
                </div>
                <div class="row front">
                   <div class="col-md-2">
                      <div class="about_img"><img src="{{url_for('static',filename ='images/hardware.png')}}"></div>
                   </div>
                   <div class="col-md-10">
                      <h1 class="fron_text"> HARDWARE DEVELOPMENT</h1>
                      <p class="using_text">Our use of these hardware components has enabled us to build a system that is
                         both functional and user-friendly. The QR
                         code scanner and fingerprint scanner have provided quick and secure ways of accessing
                         information and authenticating
                         users, while the Arduino board has allowed us to interface with various sensors and actuators,
                         giving us greater control
                         over our system. By leveraging these hardware components, we have been able to create a more
                         robust and dynamic system
                         that meets the needs of our users.</p>
                   </div>
                   <div class="red_bt"><a href="#">Go To Top</a></div>
                </div>
             </div>
          </div>
       </div>
 <!--project section end -->
 {% endblock %}